.features-wrapper {
  position: fixed;
  bottom: 10vh;
  right: 4vw;
  z-index: 1000;
}

.features-wrapper div {
  width: 72px;
  height: 72px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  cursor: pointer;
  position: relative;
}

.features-wrapper div:hover {
  animation: wave 0.5s;
}

.features-wrapper div:hover img {
  transform: scale(1.2);
  transition: 0.5s all ease;
}

@keyframes wave {
  0% {
    box-shadow: 0 0 0 0vw rgba(189, 189, 189, 0.8);
  }

  100% {
    box-shadow: 0 0 0 0.9vw rgba(189, 189, 189, 0);
  }
}
