.wrapper{
    --padding: 120px;
    color: var(--primary-color);
}

.header{

    width: 100vw;
    height: 200vh;
    position: relative;
}

.header::before{
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(15, 8, 2, 0) 30.29%, rgba(21, 14, 9, 0.44528) 40.82%, rgba(21, 14, 9, 0.52904) 42.91%, rgba(21, 14, 9, 0.59264) 44.98%, rgba(21, 14, 9, 0.704) 47.53%, rgba(21, 14, 9, 0.8) 50.17%, rgba(26, 20, 16, 0.8) 52.98%, rgba(24, 18, 13, 0.776) 54.84%, rgba(22, 16, 11, 0.752) 56.75%, rgba(17, 9, 3, 0.65408) 60.46%, rgba(18, 10, 4, 0.62008) 62.71%, rgba(26, 15, 7, 0.562) 68.14%, rgba(56, 36, 21, 0.56) 81.77%, rgba(73, 48, 29, 0.56) 87.2%, rgba(91, 60, 38, 0.56) 93.39%, rgba(139, 93, 60, 0.56) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.banner-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/imgs/background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding: 225px var(--padding) 0;
  color: var(--primary-color);
}

.banner-wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(136, 91, 58, 0.6) 0%,
    rgba(15, 8, 2, 0.6) 61.77%
  );
  position: absolute;
  top: 0;
  left: 0;
}

.sub-logo {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 91.01%,
    rgba(255, 255, 255, 0.8) 100%
  );
}

.sub-logo svg {
  position: absolute;
  top: 154px;
  right: 121px;
  filter: brightness(1.8);
  opacity: 0.16;
}

/*banner-container*/

.banner-container {
  width: fit-content;
  position: relative;
  z-index: 100;
}

.banner-container p {
  text-shadow: 0px 4px 50px rgba(225, 212, 212, 0.69);
  font-family: --intel-regular;
  font-size: 18px;
  line-height: 160%;
}

.banner-container h2 {
  text-shadow: 0px 4px 50px rgba(225, 212, 212, 0.69);
  font-family: --intel-extrabold;
  font-weight: 800;
  font-size: 60px;
  line-height: 130%; /* 78px */
  letter-spacing: -1.8px;
  text-transform: capitalize;
}

/*search*/

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 30px 17px 40px;
  border-radius: 100px;
  background: var(--primary-color);
  backdrop-filter: blur(7.5px);
  margin: 30px 0;
}

.dropdown {
  width: fit-content;
  border-right: 1px solid rgba(68, 68, 68, 0.4);
  padding-right: 16px;
}

.dropdown > div {
  padding: 0 !important;
}

.dropdown .select-item {
  font-family: --intel-regular !important;
  margin-right: 9px;
}

.dropdown svg {
  width: 21px !important;
  height: 21px !important;
}

/*input*/
.input-search {
  flex: 1;
  border: none;
  outline: none;
  margin-left: 16px;
  margin-right: 30px;
  color: #444;
  font-family: --intel-regular;
  font-size: 16px;
  line-height: 130%; /* 20.8px */
}

.input-search::placeholder {
  opacity: 0.7;
}

.btn-map {
  display: flex;
  height: 36px;
  padding: 8px 21px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 51px;
  background: var(--orange);
  cursor: pointer;
}

.btn-map span {
  width: fit-content;
  color: var(--primary-color);
  font-family: --intel-regular;
  font-size: 14px;
  line-height: 150%; /* 21px */
}

.suggestion {
  width: 100%;
  display: flex;
  gap: 13px;
  align-items: center;
  margin-bottom: 30px;
}
.suggestion ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.suggestion ul li {
  width: fit-content;
  padding: 8px 18px;
  font-size: 14px;
  line-height: 150%;
  border-radius: 100px;
  background: rgba(41, 41, 41, 0.5);
  backdrop-filter: blur(3px);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
}

.tags li {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 10px 24px;
  border-radius: 100px;
  background: rgba(163, 163, 163, 0.26);
  backdrop-filter: blur(7.5px);
}

.btn-down{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    font-family: --intel-bold;
    font-size: 16px;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.7px;
    text-transform: uppercase;
    position: absolute;
    bottom: 32px;
    left: 50%;
    cursor: pointer;
    opacity: 0.5;
    z-index: 100;
}

.btn-down svg{
    animation: scale 1s infinite;
}

@keyframes scale {
    0%{
        transform: scale(1);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.3);
        opacity: 0.7;

    }
    100%{
        transform: scale(1);
        opacity: 0.5;

    }
}


/* About us*/

.about-wrapper{
    display: flex;
    align-items: center;
    gap:67px;
    width: 100vw;
    min-height: 100vh;
    padding:0 var(--padding);
    background: #57534E;
    position: relative;
    color: var(--primary-color);
}

.about-wrapper::before{
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../assets/imgs/aboutBG.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.about-container{
    position: relative;
    z-index: 100;
    width: 45%;
}

.about-img{
    width: 48vw;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;

}

.about-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;    
}


.about-container > span{
    color: var(--orange);
    text-align: justify;
    font-family: --intel-extrabold;
    font-size: 19px;
    line-height: 150%; /* 24px */
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.about-container h2{
    color:  var(--light-orange);
    font-family: --intel-extrabold;
    font-size: 67px;
    font-weight: 800;
    line-height: 130%; /* 72.8px */
    letter-spacing: -1.12px;
    text-transform: capitalize;
}

.about-container p{
    color: var(--light-orange);
    text-align: justify;
    font-size: 19px;
    line-height: 150%; /* 24px */
    margin: 16px 0 40px;
}

.slogan{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-bottom: 40px;
}

.slogan-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 19px;
}

.slogan-item span{
    color: var(--light-orange);
font-family: --intel-bold;
font-size: 21px;
line-height: 130%; /* 23.4px */
}

.about-btn button{
    width: 162px;
    height: 52px;
    border-radius: 46px;
    font-size: 16px;
}
.about-btn  button:nth-child(1){
    background-color: transparent;
    border: 1px solid var(--logo, #D6A279);
    color: var(--orange);
    margin-right: 24px;
}


.about-btn  button:nth-child(2){
    background-color: var(--orange);
    border: 1px solid var(--logo, #D6A279);
    color: var(--primary-color);
}


/*suggestion*/

.suggestion-wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
    margin-top: 10vh;
    background: url("../assets/imgs/suggestionHP.png") lightgray 50%/ cover no-repeat;
    padding: 0 var(--padding);
    position: relative;
}

.suggestion-wrapper::before{
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, rgba(115, 76, 45, 0.67) 0%, rgba(115, 76, 45, 0.00) 88.33%);
    position: absolute;
}

.suggestion-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    margin-bottom: 51px;
}
.suggestion-content{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.suggestion-content h2{
    font-family: --intel-extrabold;
    font-size: 60px;
    line-height: 130%; /* 78px */
    letter-spacing: -1.8px;
    text-transform: capitalize;
}
.suggestion-content div{
    text-align: center;
    font-size: 24px;
    line-height: 130%; /* 31.2px */
    max-width: 344px;
    margin: 14px 29px;
}

.suggestion-content button{
    display: flex;
    padding: 16px 40px;
    align-items: center;
    gap: 12px;
    border-radius: 100px;
    border: 0.7px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    font-size: 16px;
    margin-bottom: 68px;
}

.suggestion-locations{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
    width: 100%;
}

.location{
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.progress{
    width: 100%;
    height: 1px;
    margin-bottom: 8px;
    background-color: rgba(255, 255, 255, .2);  
}

.progress::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, .2);
}

.progress::-webkit-progress-value {
    background-color: rgb(255, 255, 255);
}
